{{ template "top" . }}
<header>
  {{ template "navbar" . }}
  <h1>Inventory Management System</h1>
  <p>
    Distributed inventory management system made following scalable architecture
    principles.
  </p>
</header>
<main>
  <p>
    The objective is to study system design and architecture patterns for
    building scalable and maintainable applications.
  </p>
  <p>This project uses Golang, HTMX and Postgres.</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic aliquam minima,
    ex voluptate fuga unde maiores ullam temporibus autem iure possimus nam
    fugit debitis beatae expedita eum sed doloremque dolor?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic aliquam minima,
    ex voluptate fuga unde maiores ullam temporibus autem iure possimus nam
    fugit debitis beatae expedita eum sed doloremque dolor?
  </p>
</main>
{{ template "bottom" . }}
