{{ define "top" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
        rel="icon"
        type="image/x-icon"
        href="/static/icons/icon.svg?v={{ .AppVersion }}"
      />
      <link
        rel="stylesheet"
        href="/static/assets/simple.min.css?v={{ .AppVersion }}"
      />
      <script src="/static/assets/htmx.min.js?v={{ .AppVersion }}"></script>
      <script src="/static/assets/script.js?v={{ .AppVersion }}"></script>
      <title>Inventory Management System</title>
    </head>
    <body></body>
  </html>
{{ end }}
