@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 200 1000;
  font-display: swap;
  src: url("/static/assets/fonts/nunito-sans-latin-wght-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Literata";
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url("/static/assets/fonts/literata-latin-wght-normal.woff2") format("woff2");
}
